{% extends 'template.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 text-center">
            Bonjour, vous êtes connécté sur le compte : {{ app.user.username }}, <a class="text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal text-center">Connectez-vous</h1>

    <div class="row">
        <div class="col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>
        <div class="col-md-6">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-danger btn-lg btn-block my-5" type="submit">
            Se connecter
        </button>
        <p>Vous n'avez pas encore de compte ? Cliquez <a href="{{path("register")}}">ICI</a> pour vous inscrire.</p>
    </div>

</form>
{% endblock %}
