{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Task_name</th>
                <td>{{ task.taskName }}</td>
            </tr>
            <tr>
                <th>Task_description</th>
                <td>{{ task.taskDescription }}</td>
            </tr>
            <tr>
                <th>Task_creation_date</th>
                <td>{{ task.taskCreationDate ? task.taskCreationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Task_deadline</th>
                <td>{{ task.taskDeadline ? task.taskDeadline|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Task_status</th>
                <td>{{ task.taskStatus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('task_index') }}">back to list</a>

    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
