{% extends 'template.html.twig' %}

{% block title %}Vos projets{% endblock %}

{% block main %}
    {% if app.user %}
        <div class="mb-5 text-center">
            Bonjour, vous êtes connécté sur le compte : {{ app.user.username }}, <a class="text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="text-center">Voir vos projets</h1>
    <a href="{{ path('project_new') }}">Créer un nouveau projet</a>

    {% for project in projects %}
        <div class="my-5 text-center">
            <div class="card col-md-12 p-0 row">
                <div class="card-body p-0">
                    <div class="bg-dark text-white">
                        <h5 class="card-title p-3">{{ project.projectName }}</h5>
                    </div>
                    <div class="row d-flex justify-content-around pt-3">
                        <h6 class="card-subtitle mb-3 text-muted">Création : {{ project.projectCreationDate ? project.projectCreationDate|date('d-m-Y') : '' }}</h6>
                        <h6 class="card-subtitle mb-3 text-muted">Deadline : {{ project.projectDeadline ? project.projectDeadline|date('d-m-Y H:i:s') : '' }}</h6>
                    </div>    
                        <hr>
                        <p class="card-text">{{ project.projectDescription }}</p>
                        <hr>
                        <h6 class="card-subtitle mb-3 text-muted">Status : {{ project.projectStatus }}</h6>
                    <div class="bg-dark p-3 d-flex justify-content-around">
                        <a href="{{ path('project_show', {'id': project.id}) }}" class="card-link">Détails</a>
                        <a href="{{ path('project_edit', {'id': project.id}) }}" class="card-link">Modifier</a>
                        <a href="{{ path('archive') }}" class="card-link">Archiver</a>
                    </div>
                    <div class="bg-dark text-white pb-2">
                        {{ include('project/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
