{% extends 'template.html.twig' %}

{% block title %}Vos projets{% endblock %}

{% block main %}
    <h1>Voir vos projets</h1>
    <a href="{{ path('project_new') }}">Créer un nouveau projet</a>

    {% for project in projects %}
        <div class="row my-5">
            <div class="card col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Nom du projet</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Date création du projet</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Deadline</h6>
                    <p class="card-text">Description du projet</p>
                    <a href="#" class="card-link">Voir le détail</a>
                    <a href="#" class="card-link">Archiver</a>
                    <a href="#" class="card-link">Supprimer</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Project_name</th>
                <th>Project_description</th>
                <th>Project_creation_date</th>
                <th>Project_deadline</th>
                <th>Project_status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.projectName }}</td>
                <td>{{ project.projectDescription }}</td>
                <td>{{ project.projectCreationDate ? project.projectCreationDate|date('Y-m-d') : '' }}</td>
                <td>{{ project.projectDeadline ? project.projectDeadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.projectStatus }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
