{% extends 'template.html.twig' %}

{% block title %}Vos projets{% endblock %}

{% block main %}
    <h1 class="text-center">Voir vos projets</h1>
    <a href="{{ path('project_new') }}">Créer un nouveau projet</a>

    {% for project in projects %}
        <div class="row my-5 text-center">
            <div class="card col-md-6 p-0">
                <div class="card-body p-0">
                    <div class="bg-dark text-white">
                        <h5 class="card-title p-3">{{ project.projectName }}</h5>
                    </div>
                        <h6 class="card-subtitle mb-3 text-muted">Création : {{ project.projectCreationDate ? project.projectCreationDate|date('Y-m-d') : '' }}</h6>
                        <h6 class="card-subtitle mb-3 text-muted">Deadline : {{ project.projectDeadline ? project.projectDeadline|date('Y-m-d H:i:s') : '' }}</h6>
                        <hr>
                        <p class="card-text">{{ project.projectDescription }}</p>
                        <hr>
                        <h6 class="card-subtitle mb-3 text-muted">Status : {{ project.projectStatus }}</h6>
                    <div class="bg-dark p-3">
                        <a href="{{ path('project_show', {'id': project.id}) }}" class="card-link">Voir le détail</a>
                        <a href="{{ path('project_edit', {'id': project.id}) }}" class="card-link">Modifier</a>
                        <a href="#" class="card-link">Archiver</a>
                        {{ include('project/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
